/********************************************************
  Mobile Devices
********************************************************/

/********************************************************
        ## Min Width 1200px
********************************************************/
@media (min-width: 1200px) {
}
/********************************************************
        ## Min Width 992px And Max Width 1199px
********************************************************/
@media (min-width: 992px) and (max-width: 1199px) {
}
/********************************************************
        ## Min Width 768px And Max Width 991px
********************************************************/
@media (min-width: 768px) and (max-width: 991px){
}
/********************************************************
        ## Max Width 767px
********************************************************/
@media only screen and (max-width:767px) {
    .post-items > .entry-thumb{
        margin: 0;
    }
    .primary-menu .navbar-nav>li>a>span {
        padding-top: 0;
        padding-bottom: 0;
        display: block;
        border-top: 0;
    }
    .primary-menu .collapse{
        float: none;
        overflow: hidden;
        padding: 0 15px;
        border-top: 0;
        box-shadow: none;
        background: none;
        width: 100%;
    }
    .primary-menu  .navbar-collapse, .primary-menu  .navbar-form{
        border-top: 0;
        box-shadow: none;
        background: none;
    }
    .primary-menu  .navbar-nav>li>a{
        padding: 10px 0;
        border: 0;
    }
    .primary-menu .navbar-nav{
        margin-top: 30px;
    }
    .primary-menu .navbar-nav>li>a::after{
        display: none;
    }
    .primary-menu .xs-angle-down {
        margin: -8px 0 0 0;
        padding: 4px 10px;
        background: #1bbc9b;
        float: right;
        color: #fff;
        font-size: 22px;
    }
    .primary-menu ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: none;
    }
    .primary-menu ul.nav li.dropdown > ul.dropdown-menu.active {
        display: block;
        box-shadow: none;
        border: 0;
        padding: 0;
        margin: 0;
    }
    .primary-menu .dropdown-menu {
        width: auto;
        float: none;
        position: static;
    }
    .header-fixed{
        padding-bottom: 15px;
    }
    .navbar-fix{
        float: right;
        margin-top: 20px;
    }
    .navbar-fix button{
        margin: 12px 0 0 15px;
        border-radius: 0;
    }
    .primary-menu  .navbar-collapse{
        width: 100%;
    }
    .navbar-default .navbar-toggle{
        border-color: #1bbc9b;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: #1bbc9b;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background-color: #1bbc9b;
    }
    .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar{
        background-color: #fff;
    }
    .header-social{
        position: absolute;
        top: 0;
        right: 55px;
    }
    .camera-slider-inner h1{
        font-size: 36px;
    }
    .camera-slider-inner h3{
        font-size: 30px;
    }
    .breadcrumb-fix,.breadcrumb-washington{
        text-align: center;
    }
}
/********************************************************
        ## Max Width 480px
********************************************************/
@media only screen and (max-width:480px) {
    .camera-slider-inner h1{
        font-size: 24px;
    }
    .camera-slider-inner h3{
        font-size: 18px;
    }
    .camera_target_content{
        top: 10%;
    }
    .camera-slider-inner.text-left{
        padding-left: 15px;
    }
    .camera-slider-inner.text-right{
        padding-right: 15px;
    }
    .logo{
        float: none !important;
        text-align: center;
    }
    .search-header {
        margin-left: 0;
        float: left !important;
    }
}
/********************************************************
        Max Width 320px
********************************************************/
@media only screen and (max-width:320px) {

}
/********************************************************
        Max Width 240px
********************************************************/
@media only screen and (max-width:240px) {

}